pulumi>=3.0.0,<4.0.0

datarobot~=3.4.0
datarobot-model-metrics==0.3.6
datarobot-predict==1.8.3

pandas~=2.2.0
streamlit~=1.31.0
pathspec~=0.12.1
scikit-learn==1.4.0
transformers==4.42.4
langchain==0.2.8
langchain-core==0.2.19
langchain-community==0.2.7
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
sentence-transformers==3.0.1
opencv-contrib-python-headless==4.8.0.76
unstructured[all-docs]==0.12.3