name: Build

on:
  workflow_call:
    inputs: {}
  pull_request:
    branches:
    - main
    - v*
    - feature*
    paths-ignore:
    - CHANGELOG.md

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CGO_ENABLED: 0

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Install go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        # The versions of golangci-lint and setup-go here cross-depend and need to update together.
        go-version-file: provider/go.mod
        # Either this action or golangci-lint needs to disable the cache
        cache: true

    - name: disarm go:embed directives to enable lint
      continue-on-error: true # this fails if there are no go:embed directives
      run: |
        git grep -l 'go:embed' -- provider | xargs sed -i 's/go:embed/ goembed/g'

    - name: prepare upstream
      continue-on-error: true
      run: make upstream

    - name: Download dependencies
      run: make tidy

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest # Ensures the latest v2 version is used
        working-directory: provider
        skip-cache: true

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repo
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Unshallow clone for tags
      run: git fetch --prune --unshallow --tags

    - name: Install go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        # The versions of golangci-lint and setup-go here cross-depend and need to update together.
        go-version-file: provider/go.mod
        # Either this action or golangci-lint needs to disable the cache
        cache: true

    - name: Install pulumictl
      uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2
      with:
        repo: pulumi/pulumictl

    - name: Download dependencies
      run: make tidy

    - name: Build
      run: make tfgen

    - name: Test
      run: make test
